@import "https://fonts.googleapis.com/css?family=Nobile";
* {
  margin: 0;
  border: 0;
  padding: 0;
}
body {
  background-color: #fff;
  font-family: 'Nobile', sans-serif;
  font-size: 18px;
  position: relative;
}

nav ul {
  padding: 8px;
  background-color: #000;
  overflow: hidden;
  text-align: center;
  margin: 0;
  padding: 0;
  -webkit-transition: max-height 0.5s;
  -ms-transition: max-height 0.5s;
  -moz-transition: max-height 0.5s;
  -o-transition: max-height 0.5s;
  transition: max-height 0.5s;
  width: 100%;
  top: 0;
  letter-spacing: 3px;
}
nav ul li {
  display: inline-block;
  padding-top: 3px;
  margin-top: 8px;
  height: 65px;
  padding: 15px;
}
nav ul li a {
  display: block;
  text-decoration: none;
  color: #b4b4b4;
  margin-top: 10px;
  font-family: arial;
}
nav ul li a:hover {
  text-decoration: underline;
  color: #fff;
}
.drop-menu {
  width: 100%;
  background: #000;
  color: #b4b4b4;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 10px;
  cursor: pointer;
  display: none;
}
.content {
  margin-top: 2px;
}
.content1 {
  margin-top: 75px;
}
.content3 {
  margin-top: -97px;
}

h1 {
  font-family: 'Nobile', sans-serif;
  text-align: center;
  font-size: 175%;
  color: #4A4444;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 3% 0;
}
h3 {
  font-family: 'Nobile', sans-serif;
  text-align: center;
  color: #4A4444;
  text-transform: uppercase;
  letter-spacing: 3px;
}
p {
  padding: 2%;
  color: #4A4444;
  text-align: justify;
}
img {
  max-width: 100%;
  height: auto;
}
#banner-wrapper {
  max-width: 1280px;
  margin: 0 auto;
}
.one-half {
  width: 44%;
  float: left;
  margin: 2% 0 3% 4%;
  text-align: center;
  font-family: 'Nobile', sans-serif;
}
.one-third {
  width: 44%;
  float: left;
  margin: 2% 0 3% 4%;
  text-align: center;
  font-family: 'Nobile', sans-serif;
  padding-top: 3px;
  width: 28%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.one-1 {
  width: 40%;
  float: left;
  margin: 2% 0 3% 4%;
  font-family: 'Nobile', sans-serif;
}
.left-col {
  width: 60%;
  float: left;
  margin: 4% 0 4% 4%;
  font-family: 'Nobile', sans-serif;
}
.sidebar {
  width: 26%;
  float: right;
  margin: 4% 4%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.clearfix {
  clear: both;
}
.parallax-1 {
  background: url("../img/parallax1.jpg") repeat fixed 100%;
  text-align: center;
}
.parallax-inner {
  padding-top: 90px;
  padding-bottom: 300px;
}
.parallax-inner h3 {
  color: #F1F1F1;
}
.parallax-inner p {
  color: #F1F1F1;
}
.parallax-2 {
  background: url("../img/parallax2.jpg") repeat fixed 100%;
  text-align: center;
}
.parallax-3 {
  background: url("../img/parallax3.jpg") repeat fixed 100%;
  text-align: center;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
#contact {
  background: #F9F9F9;
  padding: 25px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#contact input[type="text"] {
  width: 97%;
  border: 1px solid #ccc;
  background: #fff;
  padding: 10px;
}
#contact input[type="email"] {
  width: 97%;
  border: 1px solid #ccc;
  background: #fff;
  padding: 10px;
}
#contact input[type="tel"] {
  width: 97%;
  border: 1px solid #ccc;
  background: #fff;
  padding: 10px;
}
#contact input[type="url"] {
  width: 97%;
  border: 1px solid #ccc;
  background: #fff;
  padding: 10px;
}
#contact textarea {
  width: 97%;
  border: 1px solid #ccc;
  background: #fff;
  padding: 10px;
  height: 100px;
  max-width: 100%;
  resize: none;
}
#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #b4b4b4;
  color: #000;
  padding: 10px;
  font-size: 15px;
  text-align: center;
}
fieldset {
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}
footer {
  background: #000;
  width: 100%;
  margin-top: 5%;
  padding: 1% 0;
  overflow: auto;
}
footer p {
  color: #fff;
  text-align: center;
  font-family: 'Nobile', sans-serif;
}

.advancedhide{
    overflow: hidden;
    height: 0;
    visibility: hidden;
    transition: 1s;
}

.advancedshow{
    overflow: hidden;
    height: 10em;
    visibility: visible;
    transition: 1s;
}
#gamepriceDiv{
    margin-left: auto;
    margin-right: auto;
    margin-top: 87px;
    width: 90%;
}

.orbit img{
    margin-right: auto;
    margin-top: -30px;
    width: 100%;
    margin-left: auto;
    
}
#gameMore {
  width: 40%;
  float: left;
  margin: 2% 0 3% 4%;
  font-family: 'Nobile', sans-serif;
}



@media screen and (max-width: 768px) {
  nav ul {
    max-height: 0;
    
  }
  nav ul li {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    height: 60px;
  }
  .show {
    max-height: 30em;
  }
  .drop-menu {
    display: block;
  
    top: 0;
  }
  .parallax-inner {
    display: none;
  }
  .parallax-inner2 {
    display: none;
  }
  .one-third {
    width: 100%;
    margin: 4% 0;
  }
  .one-half, .one-1 {
    width: 100%;
    margin: 4% 0;
  }
  h1 {
    font-size: 125%;
  }
  .left-col {
    width: 100%;
    margin: 0 0 3% 0;
  }
  .sidebar {
    width: 100%;
    margin: 0;
  }
  img {
    width: 100%;
    height: auto;
  }
  h3 {
    padding-top: 3%;
  }
  .content {
    margin-top: 54px;
  }
  .content1 {
    margin-top: 60px;
  }
  .search {
    float: right;
    margin-right: 0;
  }
  .menu {
    padding: 0;
    width: 100%;
  }
  #contact input[type="text"] {
    width: 94%;
  }
  #contact input[type="email"] {
    width: 94%;
  }
  #contact input[type="tel"] {
    width: 94%;
  }
  #contact input[type="url"] {
    width: 94%;
  }
  #contact textarea {
    width: 94%;
  }
  .map{
    width: 100%;
  }
}
